<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Home</title>
  <link th:href="@{/styles/home.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/javascript/homePage.js}"></script>
</head>
<body>


<p>It works!!</p>
<table>
  <tr th:each="employee : ${allEmployees}">
    <td th:text="${employee.id}"></td>
    <td th:text="${employee.firstName}"></td>
    <td th:text="${employee.lastName}"></td>
    <td th:text="${employee.email}"></td>
    <td th:text="${employee.role}"></td>
    <td th:text="${employee.dateHired}"></td>
    <td th:text="${employee.isActive}"></td>
  </tr>

</table>

</body>
</html>
