<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Login Page</title>
  <link th:href="@{/styles/login.css}" rel="stylesheet" />
</head>
<body>
<div class="login-container">
  <img src="/images/logo.png" alt="Logo" class="logo"/>
  <div th:if="${param.error}" class="error-message">
    Invalid username and password.
  </div>
  <div th:if="${param.logout}" class="error-message">
    You have been logged out.
  </div>
  <form th:action="@{/login}" method="post">
    <div><label> User Name: <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
  </form>
  <div class="create-account">
    <a th:href="@{/createAccount}">Create Account</a>
  </div>  
  <div class="welcome-page">
    <a th:href="@{/welcome}">Back</a>
  </div>
</div>
</body>
</html>
