<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<p>Place Your Card On The Scanner</p>

<!--<div>-->
<!--    <form id="activityLogger" method="POST" th:action="@{/}">-->

<!--        <label for="cardNumber"></label>-->
<!--        <input type="text" id="cardNumber" name="cardNumber" placeholder="Scan Your Card">-->

<!--    </form>-->

<!--<p> </p>-->

<!--</div>-->



<div>
    <form id="activityLogger" method="POST" th:action="@{/scan}">
        <label for="cardNumber"></label>
        <input type="text" id="cardNumber" name="cardNumber" placeholder="Scan Your Card" autofocus>
        <button type="submit">Submit</button> <!-- Can be auto-submitted by scanner -->
    </form>

    <p th:if="${name}" th:text="'Welcome, ' + ${name} + '!'"></p>
</div>



</body>
</html>