<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Already Exists</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #ecf0f1;
        }

        div {

            width: 500px;
            margin: auto;

        }
        h1 {
            color: red;
        }

        a {
            padding: 10px;
            text-decoration: none;
            background-color: #0087ff;
            color: white;
            border-radius: 8px;
        }

    </style>
</head>
<body>
<div>
    <h1>Username already taken</h1>
    <p>You can't use the same username twice</p>
    <a href="/home">Go Back to Homepage</a>
</div>
</body>
</html>
